html body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
}

.h-100vh {
    height: 100vh !important;
}

.h-75vh {
    height: 75vh !important;
}

.h-50vh {
    height: 50vh !important;
}

.h-25vh {
    height: 25vh !important;
}

.whitespace-pre {
    white-space: pre;
}

.whitespace-break-spaces {
    white-space: break-spaces;
}

.max-height-50vh {
    max-height: 50vh;
}

.max-height-25vh {
    max-height: 25vh;
}